@import "tailwindcss";
@font-face {
  font-family: DM Sans;
  src: url("/DMSans-VariableFont_opsz\,wght.ttf");
}

* {
  font-family: "DM Sans", sans-serif;
}

body {
  background-color: #090909;
  color: #fff;
}
